/*  --LightBox--  */

#lightbox
{	
	position: absolute;	
	left: 0; 
	width: 100%; 
	z-index: 100; 
	text-align: 
	center; 
	line-height: 0;
}
	
#lightbox img
{ 
	width: auto; 
	height: auto;
}

#lightbox a img
{ 
	border: none; 
}

#outerImageContainer
{ 
	position: relative; 
	background-color: #fff; 
	width: 250px; 
	height: 250px; 
	margin: 0 auto; 
}

#imageContainer
{
	 padding: 10px; 
}

#loading
{
	 position: absolute; 
	 top: 40%; 
	 left: 0%; 
	 height: 25%; 
	 width: 100%; 
	 text-align: center; 
	 line-height: 0; 
}

#hoverNav
{ 
	position: absolute; 
	top: 0; 
	left: 0;
	height: 100%;
	width: 100%; 
	z-index: 10; 
}

#imageContainer>#hoverNav
{ 
	left: 0;
}

#hoverNav a
{ 
	outline: none;
}

#prevLink, #nextLink
{ 
	width: 49%; 
	height: 100%; 
	background-image: url(data:image/gif;base64,AAAA); 
	/* Trick IE into showing hover */ 
	display: block; 
}

#prevLink 
{ 
	left: 0; 
	float: left;
}

#nextLink 
{ 
	right: 0; 
	float: right;
}

#prevLink:hover, #prevLink:visited:hover 
{ 
	background: url(/../images/prevlabel.gif) left 15% no-repeat; 
}

#nextLink:hover, #nextLink:visited:hover 
{ 
	background: url(/../images/nextlabel.gif) right 15% no-repeat; 
}

#imageDataContainer
{ 
	font: 10px Verdana, Helvetica, sans-serif; 
	background-color: #fff; 
	margin: 0 auto; 
	line-height: 1.4em; 
	overflow: auto; 
	width: 100%	; 
}

#imageData
{	
	padding:0 10px; 
	color: #666; 
}

#imageData #imageDetails
{ 
	width: 70%; 
	float: left; 
	text-align: left; 
}

#imageData #caption
{ 
	font-weight: bold;	
}

#imageData #numberDisplay
{ 
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}

#imageData #bottomNavClose
{ 
	width: 66px; 
	float: right;  
	padding-bottom: 0.7em; 
	outline: none;
}


#overlay
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 90; 
	width: 100%; 
	height: 500px; 
	background-color: #000; 
}


body
{
	font-family: Times New Roman;
	
    background-color: white;
	background-image: url(/../images/tlo.jpg);
	background-repeat: repeat-y;
	background-position: center;
	
	margin: 0;
	padding: 0px;
}

#top
{
	width: 1000px;
	margin: 0 auto;	
}



/*  --Banner--  */

#banner
{
	width: 100%;
	height: 135px;
	overflow: hidden;	
	color: #FFFF66;
	margin-top:2px;	
	background-color: #000033;
	background-image: url(/../images/banner.jpg);
	background-position: top;
	background-repeat: no-repeat;
}

#banner div.title
{
    font-size: 36pt;
	text-align: center;
	white-space: pre-wrap;
	margin-top: 30px;
}

#banner img.imageLeft
{
    float: left;
    position: relative;    
    margin-left: 18px;
    margin-top: 10px;
}

#banner img.imageRight
{
    float: right;
    position: relative;
    right: 22px;
    top: 10px;
}

#banner div.telephone
{
    color: Red;
    text-align: center;
}

/*  --Main Menu--  */

#menu
{
	width: 100%;
	height: auto;
	overflow: hidden;
	/*background-color: #000033;*/
	color: #FFFF66;	
	margin-top: 3px;
	margin-left: 2px;
}

#menu ul
{    
    float:left;
    width:100%;
    padding:0;
    margin: 0;    
    list-style-type:none;
    /*border-bottom: solid 4px #000033;*/ 
}

#menu li 
{
    display:inline;  
}

#menu a.selected
{
    text-decoration: underline;
}

#menu a
{
    font-size: 14pt;
    font-weight: bold;
    float:left;
    padding: 12px 17px;    
    text-decoration:none;
    color:#FFFF66;
    background-color:#000033; 
    border-left: solid 3px #FFFF66;
    /*background-image: url("../images/leftcorner.jpg");
    background-position: left;
    background-repeat: no-repeat;*/
}

#menu a.home
{
	background-image: url("../images/home.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.tractors
{
	background-image: url("../images/tractors.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.telescopichandlers
{
	background-image: url("../images/telescopichandlers.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.farmmachinery
{
	background-image: url("../images/farmmachinery.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.planthire
{
	background-image: url("../images/planthire.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.parts
{
	background-image: url("../images/parts.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.others
{
	background-image: url("../images/others.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}

#menu a.contactus
{
	background-image: url("../images/contactus.jpg");
    background-position: top;
    background-repeat: no-repeat;    
}
#menu a:hover 
{    
    text-decoration: underline;      
}


/*  --Small Menu--  */

#smenu
{
	width: 100%;
	height: 40px;
	overflow: hidden;
	background-color: #FFFF66;
	color: #000033;	
}

#smenu ul
{    
    float:left;
    width:100%;
    padding:0;
    margin: 0;
    margin-left: 4px;    
    list-style-type:none;
}

#smenu li 
{
    display:inline;  
}

#smenu a.selected
{
    text-decoration: underline;
}

#smenu a.tractors
{
    font-size: 12pt;    
    font-weight: bold;
    float:left;
    padding: 10px 64px;    
    text-decoration:none;
    color:#000033;
    background-color:#FFFF66;
}

#smenu a.parts
{
    font-size: 12pt;    
    font-weight: bold;
    float:left;
    padding: 10px 97px;    
    text-decoration:none;
    color:#000033;
    background-color:#FFFF66;
}

#smenu a.logged
{
	font-size: 14pt;    
    font-weight: bold;
    float:right;
    padding: 10px 46px;    
    text-decoration:none;
    color:#000033;
    text-decoration: underline;
}

#smenu a.loggedmoderator
{
	font-size: 14pt;    
    font-weight: bold;
    float:right;
    padding: 10px 109px;    
    text-decoration:none;
    color:#000033;
    text-decoration: underline;
}

#smenu a.telescopicHandlers
{
    font-size: 12pt;    
    font-weight: bold;
    float:left;
    padding: 10px 98px;    
    text-decoration:none;
    color:#000033;
    background-color:#FFFF66;
}

#smenu a.farmMachinery
{
    font-size: 12pt;    
    font-weight: bold;
    float:left;
    padding: 10px 14px;    
    text-decoration:none;
    color:#000033;
    background-color:#FFFF66;
    text-align: center;
}

#smenu a.plantHire
{
    font-size: 12pt;    
    font-weight: bold;
    float:left;
    padding: 10px 28px;    
    text-decoration:none;
    color:#000033;
    background-color:#FFFF66;
    text-align: center;
}

#smenu a.others
{
    font-size: 12pt;    
    font-weight: bold;
    float:left;
    padding: 10px 41px;    
    text-decoration:none;
    color:#000033;
    background-color:#FFFF66;
    text-align: center;
}

#smenu a:hover 
{    
    text-decoration: underline;   
}


/*  --Main Content--  */

#main
{
	width: 100%;
	overflow: hidden;
	background-color: #FFFF66;
	color: #000033;	
}

#main div.smain
{
	width: 700px;
	overflow: hidden;
	background-color: #FFFF66;
	color: #000033;
	margin-left: 150px;	
}

#main div.stitle
{
	background-color: #000033;
    background-image: url(../images/rightSide.jpg);
    background-position: right;
    background-repeat: no-repeat;
    
    color: #FFFF66;
    margin-top: 10px;
    font-size: 22px;
    text-align: left;
    padding: 10px 40px;
    text-decoration: underline;
}

#main div.scontent
{
    border-bottom: 2px solid #000033;
	border-left: 2px solid #000033;
	border-right: 2px solid #000033;
	color: black;
	line-height: 120%;
	width: auto;	
	overflow: hidden;
	padding-left: 200px;	
}

#main div.title
{
    background-color:#000033;
    background-image: url(../images/title.png);
    background-position:top;
    background-repeat: no-repeat;
    
	color: #FFFF66;
	width: 100%;
	font-size: 21pt;
	font-weight: bold;
	margin-top: 5px;
	text-align: center;
	padding: 8px 0;
}



#main div.content
{    
    border-bottom: 2px solid #000033;
	border-left: 2px solid #000033;
	border-right: 2px solid #000033;
	color: black;
	line-height: 120%;
	width: auto;	
	overflow: hidden;
}

#main div.img
{    
    margin: 2px;
    margin-top: 8px;
    height: auto;
    width: auto;
    float: right;
    text-align: center;    
}

#main img.main
{   
    display: inline;     
    margin-right: 60px;
    border: solid 1px black;
    opacity:0.85;
    filter:alpha(opacity=85)
}

img.galery
{
	display: inline;     
    margin-right: 59px;
    margin-top: 30px;
    border: solid 1px black;
    opacity:0.85;
    filter:alpha(opacity=85)
}

#main div.click
{
    text-align: center;
    margin-top: 2px;
    font-weight: bold;
    font-size: 8pt;
    margin-right: 60px;
}

#main div.left
{
    text-align: left;
    
    height: auto;
    width: auto;
    float: left;    
    font-weight: bold;
    margin-left: 50px;    
    margin-top: 5px;
    margin-bottom: 3px;
}

#main div.right
{
    float: none;
    font-weight: bold;
    text-align: left;
    margin-left: 225px;
    margin-right: 430px;
    position: relative;           
    margin-top: 5px;
    margin-bottom: 3px;
}

div.wysrodkowanie
{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
		
	font-weight: bold;
}

div.kontakt
{
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}

a.log
{
	font-size: 11pt;
    font-weight: bold;
 
    text-decoration:none;
    color:#FFFF66;
    background-color:#000033;    
    float: right;
    margin-top: 12px;
    margin-right: -135px;
    text-align: reght;
}

table.userdetails
{
	text-align: left;
}

td.udleft
{
	width: 125px;
	font-weight: bold;
}

a.galerylink
{
	font-size: 18px;
	color: #000033;
	
	margin-top: 0px;
}

div.counterbig
{
	text-align: center;
	font-size: 14pt;
}

div.countersmall
{
	text-align: center;
	font-size: 4pt;
}


div.lastarrival
{
	margin-left: 39px;
	margin-right: 39px;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: solid medium;	
	width: auto;
	height: 155px;			
}

div.lastarrivalstitle
{
	padding-bottom: 5px;
	text-align: center;
	color: color: #000033;
	font-weight: bold;
	font-size: 14pt;
	text-decoration: underline;	
	border-bottom: solid medium;
}

#main div.lastarrivals
{
	margin: 2px;
    margin-top: 8px; 
    float: left;
    text-align: center;
    overflow: hidden;
 	width: auto;
}

img.lastarrivals
{
	width: 120px;
	height: 90px;
    display: inline;
    margin-bottom: 20px;
    border: thin solid black;    
}

div.lastarrivalsummary
{
	text-align: center;
	margin-top: -25px;
}

div.lastarrivalsphotos
{
	width: 300px;	
}

div.gallery
{
	margin-left: 30px;
}